input {
  padding: ($gutter / 2) $gutter;

  border: $brand-tan solid 0.1rem;
  border-radius: $brand-border-radius;

  background: $brand-light-tan;

  font-size: 1.2rem;

}

.input-addon {
  display: flex;

  &__input {
    border-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: $inset-shadow;
  }

  &__btn {
    padding: ($gutter / 2) ($gutter * 2);
    border: 0;
    border-top-right-radius: $brand-border-radius;
    border-bottom-right-radius: $brand-border-radius;

    background: $brand-light-blue;
    color: $brand-white;
    font-size: 1rem;
  }
}

.list-item__button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
}

.price-input-button {
  width: 3rem;
  height: 3rem;
  margin-left: 0.2rem;
  border: 1px solid $brand-tan;
  border-radius: $brand-border-radius;
  background: $brand-white;
  color: $brand-gray;
  font-size: 1.5rem;
}

.price-input-item {
  width: 5rem;
  height: 3rem;;
  background: $brand-white;
}

.red {
  background: #f40b32;
}

.orange {
  background: $brand-primary;
}

.yellow {
  background: #f3cc0c;
}

.green {
  background: #0ac20a;
}

.blue {
  background: $brand-light-blue;
}

.purple {
  background: #a60cf3;
}

.black {
  background: #000;
}
