// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'variables';
@import 'base';
@import 'grid';
@import 'header';
@import 'inputs';


.content {
  display: flex;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products-list {
  width: 50%;
  padding-left: 2rem;
}

.shop-item__pic {
  width: 100%;
}

.shop-item {
  width: calc(100% / 3);
}


.search-options__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33%;

}

.results-container {
  display: flex;
  flex-direction: column;
}

.search-options__results {
  width: 50%;
}

.results-title {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.results-list {
  padding: 0.5rem 1rem;
  border: 1px solid $brand-tan;
  background: $brand-white;
  line-height: 2rem;
}

.results-list-item {
  padding-left: 1rem;
}

.refine-container {
  width: 50%;
  padding-bottom: 1rem;
}

.item-type-container {
  padding: 1rem;
  border: 1px solid $brand-tan;
  background: $brand-white;
}

.search-option__refine-title {
  margin-bottom: $gutter;
}

.item-type-title {
  margin: 0;
  line-height: $gutter;
}

.item-type__list-container {
  border-bottom: 1px solid $brand-tan;
  line-height: 1.5rem;
}

.price-input__container {
  display: flex;
  align-items: center;
}

.item-list__price {
  padding-bottom: 1rem;
  border-bottom: 1px solid $brand-tan;
}

.item-list__price-title {
  margin-bottom: 0.5rem;
}

.price-input-text {
  margin: 0 0.2rem;
}

.color-select-list {
  display: flex;
}

.color-select-item {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.2rem;
  border: 1px solid $brand-light-gray;
  border-radius: 3px;
}

.filter-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid $brand-tan;
}

.order-options__container {
  display: flex;
  flex-direction: column;
}

.order-options__title {
  margin-bottom: $gutter;
}
